@font-face {
    font-family: 'Graphik';
    src: url('../fonts/MegaFon Graphik LC-Black.otf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/MegaFon Graphik LC-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/MegaFon Graphik LC-Semibold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/MegaFon Graphik LC-Medium.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/MegaFon Graphik LC-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/MegaFon Graphik LC-Light.otf');
    font-weight: 300;
    font-style: normal;
}
html {
    height: 100%;
}
body {
    min-width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    background: #ffffff;
    background: url("../img/bg.пng"), linear-gradient(to bottom, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.08));
    -webkit-background-size: COVER;
    background-size: COVER;
}

body *, html * {
    font-family: 'Graphik', Arial, sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased !important;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

pre {
    font-family: monospace;
    font-size: 12px;
    background:lightgrey;
    color: #7207a9;
}

table {
    border: 1px solid black; /* Рамка вокруг таблицы */
}
td, th {
    padding: 3px; /* Поля вокруг содержимого ячеек */
    font-family: monospace;
    font-size: 10pt;
}

th {
    text-align: center; /* Выравнивание по левому краю */
    background: #7207a9; /* Цвет фона */
    color: white; /* Цвет текста */
}

p {
    margin-bottom: 1em;
    text-align: justify;
}

.page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}
.content {
    display: flex;
    flex-grow: 1;
    -webkit-box-flex: 1;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.section {
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    padding: 0 0;
}
.section__wrap {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;    
}

.solid {
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    text-align: center;
    font-weight: bolder;
    color: #7207a9;
    padding: 4px;
}

.ttl1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.27;
    text-align: center;
    color: #333333;
    margin: 0;
}
.card__list {
    list-style: none;
    margin: 36px auto;
    padding: 0;
}
.card__item {
    width: 100%;
    max-width: 288px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba(61, 63, 66, 0.08);
    background-color: #ffffff;
    margin: 0 auto 12px;
    text-align: center;
    padding: 24px 7px 20px;
    box-sizing: border-box;
}
.card__img-wrap {
    width: 70px;
    height: 70px;
    margin: auto;
}
.card__img {
    width: 100%;
    height: 100%;
    -webkit-background-size: contain;
    object-fit: contain;
}
.card__ttl3 {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
    color: #333;
    margin: 20px 0 0;
}
.card__link {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.6;
    text-align: center;
    color: #34aaf2;
    margin-top: 5px;
}
@media screen and (min-width: 768px) {
    .ttl1 {
        font-size: 32px;
        line-height: 1.25;
    }
    .card__list {
        display: flex;
        justify-content: center;
    }
    .card__item {
        max-width: 45%;
        margin: 0 16px;
    }
}
@media screen and (min-width: 1024px) {
.card__item {
    padding: 67px 20px 44px;
    height: 400px;
    max-width: 400px;
}
    .card__img-wrap {
        width: 175px;
        height: 180px;
    }
    .card__ttl3 {
        margin-top: 60px;
    }
}